extends ./layout

block head
   link(href='/css/dashboard.css' rel='stylesheet')
block content
   // content
   .row
      .col-md-12#index-header
         .featurette
            h2.featurette-heading
               | Archive Everything that Blow my mind. 
               br
               br
               span.text-muted _zeroFruit-stack
            p.lead
               | 
      a(href='/etl')
         .col-md-12#index-menu
            span#etl(style='display: block;') ETL
            
