extends ./layout

block content
   .jumbotron.center-block
      h1 zeroFruit-stack
         p 
   .row.featurette
     .col-md-6.col-md-offset-1   
        .contentTitle
           .page-header
              h1 There's no content 
                 span(aria-hidden="true").glyphicon.glyphicon-ban-circle 
